*{
        margin:0;
        padding: 0;
        box-sizing: border-box;
    }

body{
    background-color: rgba(0, 0, 0);
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:  Helvetica, sans-serif;
}

.card{

    width: 400px;
    height: 500px;
    background-color: beige;
    display: flex;
    flex-direction: column;
    padding:12px 8px;
}
.display{
    width:100%;
    height:50px;
    background-color: rgba(12, 12, 12, 0.862);
    border:4px solid rgba(12, 12, 12, 0.4);
    border-radius: 4px;
    color:whitesmoke;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 22px;
    font-weight: bold ;
    padding: 0 12px;
}
button{
    border:none;
    width:100%;
    height:100%;
    border-radius: 12px;
    background-color: rgb(34, 33, 33);
    color:whitesmoke;
    cursor: pointer;
}

button:hover{
    background-color: rgba(12, 12, 12, 0.819);;
}
button:active{
    transform: scale(0.96);
}
.keys{
    width:100%;
    flex:1;
    margin-top:22px;


    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(5,1fr);

    gap :12px;
}
.zero{
    
    grid-column: span 2 ;
}
.equals{
    
    grid-row: span 2;
}